@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import '~@splidejs/react-splide/css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --azure: #2E5AAA;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#__next {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.shadow {
    box-shadow: 0 4px 64px rgba(0, 0, 0, 0.08);
}

/* Dropdonw */
.dropdown {
    box-shadow: -7px 8px 16px 0 rgb(55 70 95 / 20%);
    animation: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeIn;
    top: 100%;
    position: absolute;
    z-index: 15;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.dropdown-show {
    cursor: pointer;
}

.dropdown-show:hover .dropdown {
    display: block;
}

.text-overflow {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@keyframes fadeIn {
    from {
        transform: translate3d(0, 6px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.page-section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.page-home {
    height: 325px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 48px;
    font-size: 32px;
    font-weight: 600;
}

.page-home h1 {
    position: relative;
    z-index: 5;
    color: #fff;
}

.page-home::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 3;
}

.page-home.greeting {
    background-image: url("/images/greeting_bg.jpg")
}

.page-home.centerstructure {
    background-image: url("/images/structure_bg.png")
}

.page-home.ourhistory {
    background-image: url("/images/history_bg.png")
}

.page-home.workplan {
    background-image: url("/images/work_bg.png")
}

.page-home.ouraddress {
    background-image: url("/images/contact_info_bg.png")
}

.page-home.centernews {
    background-image: url("/images/news_bg.png")
}

.page-home.centerevents {
    background-image: url("/images/event_bg.png")
}

.page-home.studyinkorea {
    background-image: url("/images/education_bg.png")
}

.page-home.topikmaterials,
.page-home.educationmaterial,
.page-home.topikinner,
.page-home.educationmaterialinner {
    background-image: url("/images/topik_bg.png")
}

.page-home.scheduler {
    background-image: url("/images/time_table_bg.png")
}

.page-home.university {
    background-image: url("/images/education_bg.png")
}

.page-home.faq {
    background-image: url("/images/faq_bg.png")
}

.page-home.gallery {
    background-image: url("/images/gallery_bg.png")
}

.page-home.workplaninner {
    background-image: url("/images/work_inner_bg.png")
}

.page-home.newsinner {
    background-image: url("/images/news_inner_bg.png")
}

.page-home.eventinner {
    background-image: url("/images/event_inner_bg.png")
}

.page-home.educationinner {
    background-image: url("/images/education_inner_bg.png")
}

.page-home.universityinner {
    background-image: url("/images/university_bg.png")
}

/* Home */
.home-main-section {
    background-image: url('/images/home_main_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-main-section {
    background-image: url('/images/home_main_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-news-detail {
    background-image: url('/images/news_detail.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.home-social-facebook {
    background: linear-gradient(90deg, #457FCA 0%, #5691C8 100%);
}

.home-social-instagram {
    background: linear-gradient(90deg, #8A2387 0%, #E94057 50%, #F27121 100%);
}

.home-social-telegram {
    background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
}

.home-social-section {
    background: var(--azure);
}

.home-news-slider-wrapper {
    background-color: rgba(255, 255, 255, 0.03);
}

.home-news-slider-item.is-active .home-news-slider-box {
    background-color: var(--azure);
    color: #fff;
}

.home-news-slider-item.is-active .home-news-slider-box * {
    color: #fff;
}

